#currentPage{visibility: hidden}
#pageCount{text-align: center}
.last-column {width:70px;}
.vendor-logo{height:25px; margin-left:10px;}
.device-mac{font-weight: bold;}
.device-vendor-name{font-style:italic;}