#currentPage{visibility: hidden}
.last-column{width:200px;}
#pageCount{display:inline-block;text-align: right;width:100px;}
.vendor-logo{height:25px; margin-left:10px;}
.device-mac{font-weight: bold;}
.device-vendor-name{font-style:italic;}