extends dashboardlayout
block header
  script(src='/js/formatting.js')
  script(src='/js/moment.js')
  script(src='/js/about/about.js')
  link(rel="stylesheet", href="/stylesheets/about.css")
block content
  script.
      $('#aboutNav').addClass('active')
  h1.page-heading
    i.fas.fa-user-secret
    span.sidebar-item-text ajakka
  div 
    span Documentation:
    span 
      a(href='https://github.com/pilvikala/Ajakka/') https://github.com/pilvikala/Ajakka
  div 
  span License: MIT (
  span 
    a(href='https://github.com/pilvikala/Ajakka/blob/master/LICENSE') https://github.com/pilvikala/Ajakka/blob/master/LICENSE
  span )
  div.h4 Status
  pre
    div Current user: #{currentUser}
    div Collector: 
      span#collectorStatus
        i.fas.fa-spinner.fa-spin
    div Database: 
      span#dbStatus
        i.fas.fa-spinner.fa-spin
    div Blacklist: 
      span#blacklistStatus
        i.fas.fa-spinner.fa-spin
    div Alerting: 
      span#alertingStatus
        i.fas.fa-spinner.fa-spin