extends dashboardlayout
block header
  script(src='/js/formatting.js')
  script(src='/js/moment.js')
  link(rel="stylesheet", href="/stylesheets/alerts.css")
block content
  script.
      $('#settingsNav').addClass('active')
  #currentPage=page
  h1.page-heading Alerting
  div.page-subheading.text-muted Configure blacklist rules and alert actions
  div.table-responsive-sm
    table.table.table-striped.table-hover
      thead.thead-dark
        tr
          th Rule Name
          th Pattern
          th Active
          th(style='text-align:right')
            span#pageCount
      tbody#ruleListContainer
        tr
          td(colspan='2')
            i.fas.fa-spinner.fa-spin
  
  div
    button#addNewButton.btn.btn-secondary(data-toggle="modal" data-target="#addNewRule")
      span Add rule
    #addNewRule.modal.fade( tabindex="-1", role="dialog", aria-labelledby="addNewRule", aria-hidden="true")
      .modal-dialog.modal-dialog-centered(role="document")
        .modal-content(role="document")
          .modal-header
            h5.modal-title Add new rule
            button.close(type="button", data-dismiss="modal", aria-label="Close" )
          .modal-body
            form
              div.form-group
                label(for='editRuleName') Name
                input.form-control#editRuleName(type='text', placeholder='rule name')
                div.invalid-feedback Rule name must not be empty.
              div.form-group
                label(for='editRulePattern') Patten
                input.form-control#editRulePattern(type='text', placeholder='example: 00ACD0')
                div.invalid-feedback Pattern cannot be empty
              .form-group
                label(for='actionType') Action
                select.form-control#actionType(onchange='onActionTypeValueChanged();')
              .form-group
                div#actionConfigurationContainer
              div.text-danger#addNewRuleError
          .modal-footer
            button.btn.btn-secondary(type="button" data-dismiss="modal") Close
            button.btn.btn-primary(type="button", onclick='return addNewRule();') Save
          
    
  script(src='/js/alerts/alerts.js')