extends dashboardlayout
block header
  script(src='/js/formatting.js')
  script(src='/js/moment.js')
  link(rel="stylesheet", href="/stylesheets/alerts.css")
block content
  script.
      $('#settingsNav').addClass('active')
  #currentPage=page
  h1.page-heading Alerting
  div.page-subheading.text-muted Configure blacklist rules and alert actions
  div.table-responsive-sm
    table.table.table-striped.table-hover
      thead.thead-dark
        tr
          th Rule Name
          th Pattern
          th Active
          th(style='text-align:right')
            span#pageCount
      tbody#ruleListContainer
        tr
          td(colspan='2')
            i.fas.fa-spinner.fa-spin
  
  div
    button#addNewButton.btn.btn-secondary(onclick='toggleAddRuleForm()')
      span Add rule
  #addNewRule
    form
      div.form-group
        label(for='newUserName') Name
        input.form-control#newUserName(type='text', placeholder='user name')
        div.invalid-feedback Please choose a username.
      div.form-group
        label(for='newUserName') Password
        input.form-control#password(type='password')
        div.invalid-feedback Password cannot not be empty
      div.form-group
        label(for='newUserName') Repeat password
        input.form-control#passwordRepeat(type='password')
        div.invalid-feedback Passwords do not match
      button#addButton.btn.btn-primary(onclick='return addNewRule();', type='button')
        span Add
      button#cancelButton.btn.btn-secondary(onclick='toggleAddRuleForm();', type='button')
        span Cancel
    div.text-danger#addNewRuleError
  script(src='/js/alerts/alerts.js')