doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', crossorigin='anonymous', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
    script(defer, src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
    block header
  body
    div#wrapper.toggled
      div#sidebar-wrapper
        ul.sidebar-nav
          li.sidebar-brand
            h3#product-logo
              i.fas.fa-user-secret
              span.sidebar-item-text ajakka
          li#dashboardNav
            a(href='./index')
              i.fas.fa-tachometer-alt
              span.sidebar-item-text Dashboard
          li#settingsNav
            a(href='./settings')
              i.fas.fa-wrench
              span.sidebar-item-text Settings
          li#aboutNav
            a(href='./about')
              i.fas.fa-question
              span.sidebar-item-text  About
          hr
          li#logout
            a(href='./logout')
              i.fas.fa-sign-out-alt
              span.sidebar-item-text  Sign out
        
      div#page-content-wrapper
        div.container-fluid
          block content
          
        
          