extends dashboardlayout
block header
  script(src='/js/formatting.js')
  script(src='/js/moment.js')
  link(rel="stylesheet", href="/stylesheets/index.css")
block content
  script.
      $('#dashboardNav').addClass('active')
  #currentPage=page
  h1.page-heading Detected Devices
  div.page-subheading.text-muted Devices detected by your sensors
  div.table-responsive-sm
    table.table.table-striped.table-hover
      thead.thead-dark
        tr
          th MAC
          th IP
          th Name
          th Timestamp
          th.last-column
            span#pageCount
      tbody#endpointListContainer
        tr
          td(colspan='5')
            i.fas.fa-spinner.fa-spin
  script(src='/js/index/endpoints.js')