extends dashboardlayout
block header
  script(src='/js/formatting.js')
  script(src='/js/moment.js')
  link(rel="stylesheet", href="/stylesheets/settings.css")
block content
  script.
      $('#settingsNav').addClass('active')
  #currentPage=page
  h1.page-heading Application Settings
  div.page-subheading.text-muted Application configuration

  div.tile
    div.tile-inner-div
      i.fas.fa-user.icon 
      span.icon-text
        a.tile-link(href="/settings/users") Users
      .text-muted Configure user accounts
  div &nbsp;
  div.tile
    div.tile-inner-div
      i.fas.fa-bell.icon 
      span.icon-text
        a.tile-link(href="/settings/alerts") Alerting
      .text-muted Configure alerting
  h2.sub-heading User Settings
  div#userSettingsContainer
    div.user-settings-section
      div.user-settings-section-header Show device manufacturer logos and names
      div.form-group
        label(for="showLogos")
        select.form-control(id="showLogos")
          option(value="0") Show names only
          option(value="1") Show pictures only
          option(value="2") Show names and pictures
        button.btn.btn-default.save-button(onclick="saveAllSettings();") Save
    div#successMessage.alert.alert-success Settings saved
    div#errorMessage.alert.alert-danger Failed to save settings 
  script(src='/js/settings/settings.js')  