extends dashboardlayout
block header
  script(src='./js/formatting.js')
  script(src='./js/moment.js')
  link(rel="stylesheet", href="./stylesheets/index.css")
block content
  script.
      $('#usersNav').addClass('active')
  #currentPage=page
  div.table-responsive-sm
    table.table.table-striped.table-hover
      thead.thead-dark
        tr
          th Name
          th(style='text-align:right')
            span#pageCount
      tbody#userListContainer
        tr
          td(colspan='2')
            i.fa.fa-circle-o-notch.fa-spin
  
  div
    button.btn.btn-secondary
      span Add new
  script(src='./js/users/users.js')