extends dashboardlayout
block header
  script(src='./js/formatting.js')
  script(src='./js/moment.js')
  link(rel="stylesheet", href="./stylesheets/users.css")
block content
  script.
      $('#usersNav').addClass('active')
  #currentPage=page
  div.table-responsive-sm
    table.table.table-striped.table-hover
      thead.thead-dark
        tr
          th Name
          th(style='text-align:right')
            span#pageCount
      tbody#userListContainer
        tr
          td(colspan='2')
            i.fas.fa-spinner.fa-spin
  
  div
    button#addNewButton.btn.btn-secondary(onclick='toggleAddUserForm()')
      span Add new user
  #addNewUser
    form
      div.form-group
        label(for='newUserName') Name
        input.form-control#newUserName(type='text', placeholder='user name')
        div.invalid-feedback Please choose a username.
      div.form-group
        label(for='newUserName') Password
        input.form-control#password(type='password')
        div.invalid-feedback Password cannot not be empty
      div.form-group
        label(for='newUserName') Repeat password
        input.form-control#passwordRepeat(type='password')
        div.invalid-feedback Passwords do not match
      button.btn.btn-primary(onclick='return addNewUser()', type='button')
        span Add
    div.text-danger#addNewUserError
  script(src='./js/users/users.js')